<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Thanks for your purchase, <%= @payment_intent.name %>!</h1>
<p>
  <%= @payment_intent.email_text %>
</p>
<p>
  Here's a link to your square receipt: <%= @payment_intent.receipt_url %>.
</p>
</body>
</html>
